@using DiaryMVC.Models;
@model ListViewModeModel

<div class="@DiaryViewMode.List.Key">
    <div class="list-content">
        @foreach (var note in Model.Notes)
        {
            <div class="note list-note">
                @Html.Partial("Diary/Note", note)
            </div>          
        }
    </div>
</div>