@model DiaryMVC.Models.ListViewModeModel

<div class="list-mode">
    <div class="list-content">
        @foreach (var note in Model.Notes)
        {
            <div class="note list-note">
                @Html.Partial("Diary/Note", note)
            </div>          
        }
    </div>
</div>