<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My web site</title>
</head>
<header>
    <p>cool header</p>
</header>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
<footer>
    <p>cool footer</p>
</footer>
</html>