<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>My web site</title>
    </head>
    <body>
        <header>
            <p>cool header</p>
        </header>
        <div class="container body-content">
            @RenderBody()
        </div>
        <footer>
            <p>cool footer</p>
        </footer>
    </body>
</html>