@using DiaryMVC.Models;

@model DiaryModel

<div class="controls">
    <div class="modes">
        <select name="view-mode-select" id="view-mode-select">
            @foreach (var mode in DiaryViewMode.All)
            {
                <option value="@mode.Key" @(mode.Equals(Model.Mode) ? "selected" : String.Empty)>@mode.Name</option>
            }
        </select>
    </div>
    <div class="filters">
        <div class="filter-from-date">
            <span>From:</span><input type="date" id="from-date" value="">
        </div>
        <div class="filter-to-date">
            <span>To:</span><input type="date" id="to-date" value="">
        </div>
        <div class="filter-note-type">
            <span>Note Types:</span><br />
            <div class="checkboxes">
                <input type="checkbox" name="note-types" value="memo" />
                <label>Memo</label>
                <input type="checkbox" name="note-types" value="task" />
                <label>Task</label>
                <input type="checkbox" name="note-types" value="meeting" />
                <label>Meeting</label>
            </div>
        </div>
        <button class="filter-button">Filter</button>
    </div>
    <div class="actions">
        <button class="note-create-button" data-type="memo">Create memo</button>
        <button class="note-create-button" data-type="task">Create task</button>
        <button class="note-create-button" data-type="meeting">Create meeting</button>
    </div>
</div>
