<div class="controls">
    <div class="modes">
        <span>Список</span>
        <span>День</span>
        <span>Неделя</span>
        <span>Месяц</span>
    </div>
    <div class="filter">
        мои крутые фильтры которые будут работать через ajax запросы
    </div>
    <div class="actions">
        <span class="create-memo-button">Создать памятку</span>
        <span class="create-task-button">Создать задачу</span>
        <span class="create-meeting-button">Создать встречу</span>
    </div>
</div>
