<div class="diary-popup active">
    <div class="popup-content">
        <div class="controls">
            <span class="popup-close-button">x</span>
        </div>
        <div class="content popup-type-class-name">
        </div>
    </div>
</div>
