@import "../general.variables.less";
@import "diary.variables.less";

.diary {
    border: 1px solid black;
    height: @diary-height;

    .diary-popup {
        display: none;
        position: absolute;
        z-index: 2;
        background-color: fade(gray, 50%);

        &.active {
            display: block;
        }

        .popup-content {
            position: relative;
            top: calc((100% - @diary-popup-height) / 2);
            left: calc((100% - @diary-popup-width) / 2);
            width: @diary-popup-width;
            height: @diary-popup-height;
            background-color: white;
            border: 1px solid gray;

            .controls {
                padding: 0 5px;

                .popup-close-button {
                    float: right;
                    cursor: pointer;
                    color: gray;
                    font-weight: bold;
                    line-height: 100%;
                }
            }

            .content {
                clear: both;
            }
        }
    }


    &.list-mode {
        width: @diary-list-mode-width;

        .diary-popup {
            height: @diary-height - 2px;
            width: @diary-list-mode-width - 2px;
        }

        .diary-header {
            height: @diary-list-mode-header-height;
            border-bottom: 1px solid black;

            .controls {
                height: 100%;
                width: 100%;

                .modes {
                    width: 100%;
                    padding: 10px 0 5px 10px;
                    border-bottom: 2px solid gray;
                }

                .filters {
                    width: 100%;
                    border-bottom: 2px solid gray;
                    padding-bottom: 12px;

                    .filter-from-date, .filter-to-date {
                        height: 20px;
                        line-height: 20px;
                        margin-top: 12px;
                        margin-left: 10px;
                        width: 200px;

                        span {
                            float: left;
                        }

                        input {
                            float: right;
                        }
                    }

                    .filter-note-type {
                        clear: both;
                        margin-top: 12px;
                        margin-left: 10px;

                        .checkboxes {
                            margin-left: 10px;
                            margin-top: 5px;
                        }
                    }

                    .filter-button {
                        margin-left: 5px;
                        margin-top: 10px;
                    }
                }

                .actions {
                    padding-top: 12px;

                    button {
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                }
            }
        }

        .diary-body {
            .diary-content {
                height: @diary-height - @diary-list-mode-header-height - 2px;
                width: 100%;
                overflow-y: scroll;

                .note-container {
                    padding: 0 5px 0 5px;
                    min-height: @diary-note-height;
                    width: 100%;

                    .note-header {
                        width: 100%;
                        border-bottom: 3px dotted gray;
                        padding: 5px 0px;

                        .note-title {
                            font-weight: bold;
                        }

                        .note-type {
                            float: right;
                        }

                        .note-delete-button {
                            float: right;
                            margin-left: 10px;
                            cursor: pointer;
                            color: gray;
                            font-weight: bold;
                            line-height: 100%;
                        }
                    }

                    .note-content {
                        .note-field {
                            display: block;
                            margin-top: 5px;
                        }
                    }

                    &.meeting {
                        background-color: @diary-meeting-background-color;
                    }

                    &.memo {
                        background-color: @diary-memo-background-color;
                    }

                    &.task {
                        background-color: @diary-task-background-color;
                    }
                }

                .list-mode {
                    .list-content {
                        .list-note {
                            width: 100%;
                            border-bottom: 1px solid black;

                            &:last-of-type {
                                border-bottom: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}