@diary-height: 800px;

@diary-list-mode-width: 400px;
@diary-list-mode-header-height: 200px;

@diary-note-height: 140px;

@diary-meeting-background-color: #b3ffe0;
@diary-memo-background-color: #ffe6b3;
@diary-task-background-color: #b3ecff;



