.diary{
    width: 1000px;
    border: 1px solid black;
}

.diary.list-mode{
    width: 700px;
}

.diary .diary-header{
    height: 30px;
    border-bottom: 1px solid black;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
}

.diary .diary-body {
    height: 500px;
}

.diary .controls {
    float: left;
    height: 100%;
    width: 200px;
    border-right: 1px solid red;
}

.diary .controls .modes, .diary .controls .filter, .diary .controls .actions {
    padding: 10px 10px 0 10px;
}

.diary.list-mode .diary-body .diary-content {
    float: left;
    height: 100%;
    width: 300px;
}

.note