@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <!--TODO move to bundle maybe-->
    <script src="@Url.Content("Content/js/diary/diary.js")"></script>
}

<div class="diary">
    <div class="diary-header">My cool diary</div>
    <div class="diary-body">
        @Html.Partial("Diary/Controls")
        <div class="diary-content">
            Здесь у нас будут классные заметки
        </div>
    </div>
</div>
<script>
    var diary = new Diary("list-mode", "diary-content");
    diary.init();
</script>

