@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <!--TODO move to bundle maybe-->
    <link rel="stylesheet" href="@Url.Content("Content/css/diary/diary.min.css")">
}
@section scripts{
    <!--TODO move to bundle maybe-->
    <script src="@Url.Content("Content/js/diary/diary.js")"></script>
}

<div class="diary list-mode">
    <div class="diary-header">
        @Html.Partial("Diary/Controls")
    </div>
    <div class="diary-body"> 
        <div class="diary-content">
            Здесь у нас будут классные заметки
        </div>
    </div>
</div>
<script>
    var diary = new Diary("list-mode", ".diary", ".diary .diary-content");
    diary.init();
</script>

